@font-face {
    font-family: 'Circle';
    src: url('../fonts/Circle.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bahnschrift';
    src: url('../fonts/Bahnschrift.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

button:active {
	outline: none;
}

.home {
    position: absolute;
    width: 100%;
    height: 100%;
    
    background: url('./homeBackground.jpeg') no-repeat center center;
    background-size: cover;
}


.nest {
    position: absolute;
    width: 100%;
    height: 100%;
    
    background: url('./nestBackground.png') no-repeat center center;
    background-size: cover;
}


.shop {
    position: absolute;
    width: 100%;
    height: 230%;
    background: url('./shopBackground.png') no-repeat center center;
    background-size: cover;
    overflow-y: auto;
    background-position-y: 80px;
    background-size: 430px 96%;
}

.cage {
    position: absolute;
    width: 100%;
    height: 100%;
    
    background: url('./cageBackground.png') no-repeat center center;
    background-size: cover;
}


.referral {
    position: absolute;
    width: 100%;
    height: 100%;
    
    background: url('./referralBackground.png') no-repeat center center;
    background-size: cover;
}


.storage {
    position: absolute;
    width: 100%;
    height: 140%;
    overflow-y: auto;
    background: url('./storageBackground.png') no-repeat center center;
    background-position-y: 80px;
    background-size: 430px 96%;
}

.deposit {
    position: absolute;
    width: 100%;
    height: 100%;
    
    background: url('./depositBackground.png') no-repeat center center;
    background-size: cover;
}