.nestList {
    position: relative;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--padding-top-default);
    box-sizing: border-box;
}

.nestRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: var(--margin-bottom, 10vh);
}

.nestContainer {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.nest {
    width: 20vw;
    max-width: 80px;
    height: auto;
    z-index: 1;
}

.bird {
    width: 20vw;
    max-width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -39px;
}

.progress {
    width: 20vw;
    max-width: 80px;
    position: absolute;
    bottom: 0;
    margin-bottom: -15px;
    z-index: 4;
}

.progressFill {
    height: 5px;
    top: 50%;
    position: absolute;
    background-color: #84ACF4;
    margin-top: 24px;
    margin-left: 0.18px;
    border-radius: 1rem;
    z-index: 3;
}

@media (max-height: 1344px) {
    :root {
        --padding-top-default: 28vh;
        --margin-bottom: 13vh;
    }
}

@media (max-height: 1024px) {
    :root {
        --padding-top-default: 31vh;
        --margin-bottom: 13.7vh;
    }
}

@media (max-height: 932px) {
    :root {
        --padding-top-default: 30.6vh;
        --margin-bottom: 10.8vh;
    }
}

@media (max-height: 844px) {
    :root {
        --padding-top-default: 30.2vh;
        --margin-bottom: 10.5vh;
    }
}

@media (max-height: 740px) {
    :root {
        --padding-top-default: 30vh;
        --margin-bottom: 9.7vh;
    }
}

@media (max-height: 731px) {
    :root {
        --padding-top-default: 30vh;
        --margin-bottom: 9.3vh;
    }
}

@media (max-height: 660px) {
    :root {
        --padding-top-default: 30vh;
        --margin-bottom: 9.2vh;
    }
}

@media (max-height: 640px) {
    :root {
        --padding-top-default: 27vh;
        --margin-bottom: 8.5vh;
    }
}

@media (max-height: 540px) {
    :root {
        --padding-top-default: 29vh;
        --margin-bottom: 8.1vh;
    }
}