:root {
    --padding-top-default: 31vh;
    --margin-bottom: 13vh;
}

.nestList {
    position: relative;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--padding-top-default);
    padding-bottom: 5vh;
    box-sizing: border-box;
}

.nestRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: var(--margin-bottom, 10vh);
}

.nestContainer {
    display: block;
    text-align: center;
}

.nest {
    width: 20vw;
    max-width: 80px;
    height: auto;
}

.progress {
    width: 20vw;
    max-width: 80px;
}


@media (max-height: 1344px) {
    :root {
        --padding-top-default: 28vh;
        --margin-bottom: 13vh;
    }
}

@media (max-height: 1024px) {
    :root {
        --padding-top-default: 31vh;
        --margin-bottom: 13.7vh;
    }
}

@media (max-height: 932px) {
    :root {
        --padding-top-default: 30.6vh;
        --margin-bottom: 10.8vh;
    }
}

@media (max-height: 844px) {
    :root {
        --padding-top-default: 30.2vh;
        --margin-bottom: 10.5vh;
    }
}

@media (max-height: 740px) {
    :root {
        --padding-top-default: 30vh;
        --margin-bottom: 9.7vh;
    }
}

@media (max-height: 731px) {
    :root {
        --padding-top-default: 30vh;
        --margin-bottom: 9.3vh;
    }
}

@media (max-height: 660px) {
    :root {
        --padding-top-default: 30vh;
        --margin-bottom: 9.2vh;
    }
}

@media (max-height: 640px) {
    :root {
        --padding-top-default: 29.5vh;
        --margin-bottom: 8.5vh;
    }
}

@media (max-height: 540px) {
    :root {
        --padding-top-default: 29vh;
        --margin-bottom: 8.1vh;
    }
}
